
PORT=3000
NODE_ENV=development


DATABASE_URL=mongodb+srv://username:password@octopi.qrpd0ps.mongodb.net/?appName=Octopi

JWT_SECRET="secretkey
JWT_REFRESH_SECRET=secretkey
JWT_ACCESS_EXPIRES_IN=15m
JWT_REFRESH_EXPIRES_IN=7d
SLOT_GRANULARITY_MINUTES=30
